<form class="w-25 m-auto" [formGroup]="FormPasswordReset" (ngSubmit)="onSutmit()">
    <div class=" text-center mb-3">
        <p>continue with</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>

    <p class="text-center">or:</p>
    <div class="form-outline mb-4">
        <label class="form-label" for="registerEmail">Email</label>
        <input type="email" id="registerEmail" formControlName="email" class="form-control" />
        <div class="text-danger" *ngIf="emailField.touched && emailField.invalid">
            correo es requerido
        </div>
    </div>


    <!-- Submit button -->
    <!-- <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!formLogin.valid">Sign -->
    <button type="submit" class="btn btn-primary btn-block mb-4"> Submit </button>

</form>